.card {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  width: 1fr;
  height: auto;
  padding: 15px;

  background-color: #e1ede6;

  font-family: "Raleway";
}

.card-header {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.card-bottom {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 100%;
}

.card-creator {
  color: #86928b;
  font-size: 18px;
}

.card-name {
  color: #2c2d35;
  font-size: 30px;
}

.card-price {
  color: #598d66;
  font-size: 24px;
}

.add-to-basket {
  display: flex;
  justify-content: center;

  color: #598d66;

  padding: 20px;
  background-color: #e1ede6;
  border-color: #598d66;
  border-width: 1px;
  border-style: solid;
}

.add-to-basket:active {
  background-color: #376b44;
  color: white;
}

.add-to-basket:hover {
  background-color: #598d66;
  color: #f4f6f5;
}

@media (max-width: 1120px) {
  .card-creator {
    font-size: 16px;
  }

  .card-name {
    font-size: 25px;
  }

  .card-price {
    font-size: 20px;
  }

  .add-to-basket {
    padding: 15px;
  }
}

@media (max-width: 500px) {
  .card-image {
    max-height: 430px;
  }

  .add-to-basket {
    padding: 10px;
  }
}
