@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.catalog {
  gap: 20px;
  display: flex;
  flex-direction: column;

  color: #2c2d35;
  font-family: "Raleway";
}

/* Catalog Head */

.catalog-header {
  display: flex;
  justify-content: space-between;
}

.catalog-head {
  font-size: 30px;
  font-weight: 500;
}

.select-country-buttons {
  gap: 32px;
  display: flex;
}

.cards-switch-buttons {
  background-color: #d4e8d9;
  border-radius: 20px;
  padding: 10px 20px;
}

.cards-switch-buttons:active {
  background-color: #376b44;
  color: #f4f6f5;
}

.cards-switch-buttons:hover {
  background-color: #598d66;
  color: #f4f6f5;
}

/* Catalog Body */

.catalog-body {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 950px) {
  .catalog-body {
    grid-template-columns: repeat(2, 1fr);
  }
}
