@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

footer {
  display: flex;
  justify-content: space-between;

  background-color: #e1ede6;
  margin-top: 80px;

  font-family: "Raleway";
  font-weight: 500;
}

.footer-information {
  gap: 100px;
  display: flex;
}

/* Footer Left */

.footer-left {
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.footer-left-bottom {
  gap: 4px;
  display: flex;
  flex-direction: column;
}

/* Footer Center */

.footer-center {
  gap: 50px;
  display: flex;
}

.footer-center-columns {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.columns-body {
  gap: 7px;
  display: flex;
  flex-direction: column;
}

/* Footer Right */

.footer-right {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.messanger-logos {
  gap: 35px;
  display: flex;
}

.rights {
  gap: 4px;
  display: flex;
  flex-direction: column;
}

.footer-logo {
  gap: 8px;
  display: flex;
  align-items: center;

  color: #598d66;
  font-weight: 700;
  font-size: 9px;
  text-decoration: none;
}

/* Other */

p {
  color: #86928b;
}

@media (max-width: 880px) {
  footer {
    gap: 30px;
    flex-direction: column;
  }

  .footer-left {
    flex-direction: row;
    align-items: self-start;
    justify-content: space-between;
  }

  .footer-information {
    gap: 0;
    justify-content: space-between;
  }
}

@media (max-width: 630px) {
  .footer-information {
    gap: 20px;
    flex-direction: column;
  }

  .footer-center {
    gap: 0;
    justify-content: space-between;

    border-bottom: #c3d1c6 1px solid;
    padding-bottom: 20px;
  }

  .footer-right {
    align-items: center;
  }

  .rights {
    flex-direction: row;
  }
}
