@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 80px;
  background-color: #e1ede6;

  font-family: "Raleway";
}

.logo {
  gap: 8px;
  display: flex;
  align-items: center;

  color: #598d66;
  font-weight: 700;
  font-size: 9px;
  text-decoration: none;
}

.icon {
  font-size: 16px;
}

nav {
  gap: 60px;
  display: flex;
  align-items: center;

  font-weight: 500;
}

.nav-buttons {
  gap: 60px;
  display: flex;
}

.nav-buttons:active {
  color: #376b44;
}

.nav-buttons:hover {
  color: #598d66;
}

a {
  color: #2c2d35;
}

@media (max-width: 850px) {
  .nav-buttons {
    font-size: 14px;
  }

  .basket {
    width: 20px;
    height: 20px;
  }

  .logo > img {
    width: 26px;
  }
}

@media (max-width: 630px) {
  header {
    flex-direction: column;

    height: 90px;
  }

  .logo {
    justify-content: center;

    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: #c3d1c6 1px solid;
  }

  nav {
    gap: 0;
    justify-content: space-between;

    padding-bottom: 10px;
    padding-top: 10px;
  }

  .nav-buttons {
    gap: 40px;
  }
}
