@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: "Raleway";
  font-weight: 500;

  margin-bottom: 40px;
  margin-top: 40px;
}

.right-hero {
  gap: 30px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.hero-content-head {
  color: #2c2d35;
  font-size: 55px;
}

.hero-content-body {
  color: #86928b;
  font-size: 18px;
}

.hero-button {
  background-color: white;
  border-color: #598d66;
  border-width: 1px;
  border-style: solid;
  padding: 20px 60px;

  color: #598d66;
}

.hero-button:active {
  background-color: #376b44;

  color: white;
}

.hero-button:hover {
  background-color: #598d66;

  color: #f4f6f5;
}

@media (max-width: 1300px) {
  .left-hero > img {
    width: 600px;
  }
}

@media (max-width: 1170px) {
  .left-hero > img {
    width: 550px;
  }
}

@media (max-width: 1120px) {
  .hero-content-head {
    font-size: 50px;
  }
}

@media (max-width: 1070px) {
}

@media (max-width: 960px) {
  .right-hero {
    gap: 25px;
  }

  .hero-content-head {
    font-size: 44px;
  }

  .hero-button {
    padding: 15px 50px;
  }
}

@media (max-width: 840px) {
  .hero-content-head {
    font-size: 40px;
  }

  .hero-content-body {
    font-size: 16px;
  }
}

@media (max-width: 780px) {
  .hero-content-head {
    font-size: 36px;
  }

  .hero-content-body {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .right-hero {
    gap: 15px;
  }

  .hero-content-head {
    font-size: 29px;
  }

  .hero-button {
    padding: 10px 45px;
  }
}

@media (max-width: 500px) {
  .left-hero {
    display: none;
  }

  .hero-content-body {
    max-width: 230px;
  }
}
