.our-team-section {
  gap: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #2c2d35;
  font-family: "Raleway";
  font-weight: 500;
}

.our-team-right {
  gap: 20px;
  display: flex;
  flex-direction: column;

  padding-top: 80px;
}

.our-team-head {
  font-size: 50px;
}

.our-team-body {
  font-size: 21px;
  font-weight: 400;

  max-width: 830px;
}

.persons {
  gap: 20px;
  display: flex;
}

@media (max-width: 1020px) {
  .our-team-section {
    gap: 0px;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 600px) {
  .our-team-head {
    font-size: 40px;
  }

  .our-team-body {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .our-team-head {
    font-size: 32px;
  }
}
