.card {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  width: 1fr;
  height: auto;
  padding: 15px;

  background-color: #e1ede6;

  font-family: "Raleway";
}

.card-header {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.card-bottom {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.card-header > img {
  width: 100%;
}

.card-creator {
  color: #86928b;
  font-size: 18px;
}

.card-header > h3 {
  color: #2c2d35;
  font-size: 30px;
}

.card-bottom > p {
  color: #598d66;
  font-size: 24px;
}

@media (max-width: 1120px) {
  .card-creator {
    font-size: 16px;
  }

  .card-header > h3 {
    font-size: 25px;
  }

  .card-bottom > p {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .card-header > img {
    max-height: 430px;
  }
}
