.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: "Raleway";
  font-weight: 500;

  margin-bottom: 40px;
  margin-top: 40px;
}

.right-hero {
  gap: 30px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.right-hero > h2 {
  color: #2c2d35;
  font-size: 55px;
}

.right-hero > p {
  color: #86928b;
}

.right-hero > a:active {
  background-color: #376b44;

  color: white;
}

.right-hero > a:hover {
  background-color: #598d66;

  color: #f4f6f5;
}

@media (max-width: 1300px) {
  .hero-image > img {
    width: 600px;
  }
}

@media (max-width: 1170px) {
  .hero-image > img {
    width: 550px;
  }
}

@media (max-width: 1120px) {
  .right-hero > h2 {
    font-size: 50px;
  }
}

@media (max-width: 960px) {
  .right-hero {
    gap: 25px;
  }

  .right-hero > h2 {
    font-size: 44px;
  }

  .right-hero > a {
    padding: 15px 50px;
  }
}

@media (max-width: 840px) {
  .right-hero > h2 {
    font-size: 40px;
  }

  .right-hero > p {
    font-size: 16px;
  }
}

@media (max-width: 780px) {
  .right-hero > h2 {
    font-size: 36px;
  }

  .right-hero > p {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .right-hero {
    gap: 20px;
  }

  .right-hero > h2 {
    font-size: 29px;
  }

  .right-hero > a {
    padding: 10px 45px;
  }
}

@media (max-width: 500px) {
  .hero-image {
    display: none;
  }

  .right-hero > p {
    max-width: 230px;
  }
}
