.promo {
  gap: 30px;
  display: flex;
  flex-direction: column;

  background: url(/assets/widgets/home/promo/background.png);
  background-size: cover;
  background-repeat: no-repeat;

  margin: 60px 0;
}

/* Promo Header */

.promo-header {
  gap: 20px;
  display: flex;
}

.promo-header > h2 {
  color: #f4f6f5;

  max-width: 500px;
}

/* Promo Body */

.promo-body {
  gap: 50px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.promo-body > p {
  color: white;

  max-width: 570px;
}

.promo-body > a {
  background-color: #eedb6d;

  color: #2c2d35;
  font-family: "Raleway";
  font-weight: 500;

  padding: 20px 60px;
}

.promo-body > a:hover {
  background-color: #faeb97;
}

.promo-body > a:active {
  background-color: #d9b949;
}

@media (max-width: 1000px) {
  .promo-header > h2 {
    max-width: 400px;
  }
}

@media (max-width: 600px) {
  .promo-header > img {
    width: 70px;
  }

  .promo-body > a {
    padding: 15px 50px;
  }
}

@media (max-width: 500px) {
  .promo-header {
    align-items: flex-start;
  }

  .promo-body > a {
    padding: 13px 45px;
  }
}

@media (max-width: 450px) {
  .promo-header > img {
    width: 60px;
  }
}
